## Statistical Ananlyses of regulator co-occurrence in bacterial genomes

In [1]:
%matplotlib inline
import numpy as np
import pandas as pd
from itertools import combinations
import random
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('/hdd/projects/erc_project/data/filtered_regulators.csv', index_col = 0, delimiter = ',')

In [3]:
df

,AAA,Bac_DNA_binding,BHL,GerE,GntR,HTH_3,HTH_CRP,HTH_LUXR,HTH_XRE,Lsr2,MerR,Sigma70_r2,Sigma70_r4,WhiB
AF068845,0,0,0,0,0,0,0,0,0,0,0,0,0,1
AF547430,0,0,0,0,0,0,0,0,1,0,0,0,0,0
AJ006589,0,0,0,0,1,0,0,0,0,0,0,0,0,0
Alderaan,0,0,0,0,0,0,0,0,0,0,0,0,0,1
AY129330,0,0,0,0,0,0,0,0,1,0,0,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
MT316458,0,0,0,0,0,1,0,0,1,1,1,0,0,0
MT316459,0,0,0,0,0,1,0,0,1,1,1,0,0,0
MT316462,0,0,0,0,0,1,0,0,1,1,1,0,0,0
NC_031076,0,0,0,0,0,0,0,0,0,0,0,0,0,1
NC_031108,0,0,0,0,0,0,0,0,0,0,0,0,0,1

In [4]:
data = df.to_numpy()
genome_names = list(df.index.values)
regulator_names = list(df.columns.values)

(1181, 14)

In [21]:
def normalized_dot(l1, l2):
    norma = sum(l1)*sum(l2)/len(l1)
    return np.dot(l1, l2)/norma

signal = []
for i, j in combinations(range(data.shape[1]), 2):
#     print(len(data[:,i]))
#     print(normalized_dot(data[:,i], data[:,j]))
    signal.append((i, j, normalized_dot(data[:,i], data[:,j])))
                               
noise = []
for _ in range(500):
    for i, j in combinations(range(data.shape[1]), 2):
        a = list(data[:,i])
        b = list(data[:,j])
        noise.append(normalized_dot(random.sample(a, len(a)), random.sample(b, len(b))))

In [22]:
p_levels = [99.9, 99, 95]
p_vals = [np.percentile(noise, x) for x in p_levels]

In [36]:
for i, j, val in signal:
    for p, level in zip(p_vals, p_levels):
        if(val>p):
            print("\t".join((regulator_names[i], regulator_names[j], "%1.1f" % val, "%1.3f" % (1 - level/100) )))
            break;

Bac_DNA_binding	BHL	90.8	0.010
GerE	GntR	147.6	0.001
GerE	HTH_LUXR	393.7	0.001
GntR	HTH_LUXR	49.2	0.010
HTH_CRP	Sigma70_r2	590.5	0.001

In [26]:
print(len(signal))

91

In [28]:
print(data[:,8])

[0 1 0 ... 1 0 0]